In [56]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.metrics import classification_report, accuracy_score
from sklearn.svm import SVC
import pandas as pd
import numpy as np

In [51]:
df = pd.read_csv('titanic.csv')

#1.Вивести перших 5 рядків.
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [52]:
#3.Визначити тип даних.
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [53]:
#4.Визначити наявність пропущених значень. При наявності, замінити пропущені значення на середнє значення.
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [64]:
df.loc[:, "Age"] = df["Age"].replace(np.nan, df.Age.median())
df.loc[:, "Fare"] = df["Fare"].replace(np.nan, df.Age.median())
df.drop(['Cabin'], axis=1, inplace=True)
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [68]:
# 6. Перевірити наявність дублікатів. При наявності видалити дублікати.
df.duplicated().sum()

np.int64(0)

In [69]:
# 7. Вивести описову статистику датасету describe()
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,12.634534,0.896760,0.981429,55.840500
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,23.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,30.272590,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,35.750000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

In [70]:
# 9. Сформувати датасет з обраними стовпцями:
df9 = df[['Survived', 'Pclass', 'Sex', 'Age', 'Fare']]

In [71]:
# 10. Замінити бінарні ознаки (Стать) на 0 і 1 (але перевірте унікальні значення даного стовпчика).
print(pd.unique(df9.Sex))
df9.loc[:, "Sex"] = df9["Sex"].replace({"male": 0, "female": 1})

['male' 'female']

C:\Users\ov_nastia\AppData\Local\Temp\ipykernel_8328\2718624259.py:3: FutureWarning:

Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

In [72]:
df9

     Survived  Pclass Sex       Age      Fare
0           0       3   0  34.50000    7.8292
1           1       3   1  47.00000    7.0000
2           0       2   0  62.00000    9.6875
3           0       3   0  27.00000    8.6625
4           1       3   1  22.00000   12.2875
..        ...     ...  ..       ...       ...
413         0       3   0  30.27259    8.0500
414         1       1   1  39.00000  108.9000
415         0       3   0  38.50000    7.2500
416         0       3   0  30.27259    8.0500
417         0       3   0  30.27259   22.3583

[418 rows x 5 columns]

In [48]:
#Будуємо 3 класифікатори на вибір, визначаємо оптимальні параметри(оптимізатор – на вибір). 
#Вибираємо найкращу модель.
#Виводимохарактеристики, метрики.
#Робимо прогноз для 10 випадків.

In [73]:
X, y = df9[["Pclass", "Sex", "Age", "Fare"]], df9[["Survived"]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Масштабування даних
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [74]:
models = {
    'Logistic Regression': LogisticRegression(max_iter=1000),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier()
}

param_grids = {
    'Logistic Regression': {
        'C': [0.1, 1, 10, 100],
        'penalty': ['l2']
    },
    'Decision Tree': {
        'max_depth': [None, 10, 20, 30],
        'min_samples_leaf': [1, 3, 5]
    },
    'Random Forest': {
        'n_estimators': [50, 100, 200],
        'max_depth': [None, 10, 20, 30]
    }
}

In [75]:
def tune_and_train_model(model_name, model, param_grid):
    grid_search = GridSearchCV(model, param_grid, cv=5, scoring='accuracy', n_jobs=-1)
    grid_search.fit(X_train, y_train)
    best_params = grid_search.best_params_
    best_model = grid_search.best_estimator_
    return best_model, best_params

# Навчання і підбір гіперпараметрів для кожної моделі
best_models = {}
best_params = {}

for model_name, model in models.items():
    print(f"\nТонування моделі {model_name}...")
    best_model, params = tune_and_train_model(model_name, model, param_grids[model_name])
    best_models[model_name] = best_model
    best_params[model_name] = params

# Виведення найкращих параметрів
print("\nНайкращі параметри для кожної моделі:")
for model_name, params in best_params.items():
    print(f"{model_name}: {params}")

Тонування моделі Logistic Regression...

C:\Users\ov_nastia\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning:

A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

Тонування моделі Decision Tree...

Тонування моделі Random Forest...

Найкращі параметри для кожної моделі:
Logistic Regression: {'C': 0.1, 'penalty': 'l2'}
Decision Tree: {'max_depth': None, 'min_samples_leaf': 1}
Random Forest: {'max_depth': None, 'n_estimators': 50}

C:\Users\ov_nastia\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning:

A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [76]:
# Точність (accuracy)
models = {'Logistic Regression': LogisticRegression(C=1, max_iter=1000), 
          'Decision Tree': DecisionTreeClassifier(min_samples_leaf=3), 
          'Random Forest': RandomForestClassifier(max_depth=20, n_estimators=50)}

for model_name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f"{model_name} Accuracy: {accuracy}")

# Найкраща модель - Logistic Regression з Accuracy: 0.7985074626865671.

Logistic Regression Accuracy: 1.0
Decision Tree Accuracy: 1.0
Random Forest Accuracy: 1.0

C:\Users\ov_nastia\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning:

A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

C:\Users\ov_nastia\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning:

A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [77]:
# Матриця помилок (confusion matrix)
for model_name, model in models.items():
    conf_matrix = confusion_matrix(y_test, y_pred)
    print(f"{model_name} confusion matrix: {conf_matrix}")

Logistic Regression confusion matrix: [[85  0]
 [ 0 41]]
Decision Tree confusion matrix: [[85  0]
 [ 0 41]]
Random Forest confusion matrix: [[85  0]
 [ 0 41]]